<section id="howtocreate" class="slide">
  <h2>How to create a ServiceObject?</h2>

  <p> There two ways to create ServiceObjects, but they have a common parts:

  <ul>
    <li>
      All ServiceObject live in 'app/services' directory. You have to create this
      directory by yourself, but Rails will autoload classes inside for you.
    </li>

    <li>
      It's class does not have to inherit from any specific class.
    </li>
  </ul>

  <p> Now we will look at 2 different implementations and their strenths and weaknesses </p>

</section>
