<section id="poroservice" class="slide">
  <h2>General entity service</h2>

  <p>
    This implementation is a Plain Old Ruby Object (PORO).
  </p>

  <ul>
    <li>
      Class should be named after entity on which applies it's methods with word
      'Service' appended to the end. For example: NotificationsService, InvitesService)
    </li>
    <li>
      You need to implement initialize method and public instance methods,
      that will do some actions based on arguments passed to this class.
    </li>
    <li>
      Method names should be verbs.
    </li>
    <li>
      Incapsulates all bussiness-logic inside it's methods.
    </li>

  <script type="syntaxhighlighter" class="brush: ruby">

    class ChargesService

      def initialize(amount, user, token = nil, plan = nil)
        @user = user
        @amount = amount
        @token = token
      end

      def charge
        # implementation
      end

      def subscribe
        # implementation
      end

      private

      def get_customer
        # implementation
      end

      def get_card
        # implementation
      end

    end

  </script>

  <p>Pros: </p>
  <ul>
    <li>
      Incapsulates all business-logic of a given entity inside. For example, To understand,
      how your payment system works, someone will need to take a look at only
      one class - ChargesService.
    </li>
  </ul>

  <p>Cons: </p>
  <ul>
    <li>
      In time, can grow to a big size, making it hard to read and change.
    </li>
    <li>

    </li>
  </ul>

</section>
